---
import Layout from "../layouts/Layout.astro";

import Carousel from "../components/Carousel.jsx";
import About from "../components/About.astro";
import Products from "../components/Products.astro";
import Maps from "../components/Maps.astro";
import Footprint from "../components/Footprint.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Barti project">
  <main>
    <div class="page-container">
      <Carousel
        client:load
        projects={[
          {
            title: "TextDecoderStream",
            image: "../images/Unknown_person.jpg",
          },
          {
            title: "TextDecoderStream",
            image: "../images/Unknown_person.jpg",
          },
          {
            title: "TextDecoderStream",
            image: "../images/Unknown_person.jpg",
          },
        ]}
      />
      <About />
      <Carousel
        client:load
        projects={[
          {
            title: "TextDecoderStream",
            image: "../images/Unknown_person.jpg",
          },
          {
            title: "TextDecoderStream",
            image: "../images/Unknown_person.jpg",
          },
          {
            title: "TextDecoderStream",
            image: "../images/Unknown_person.jpg",
          },
        ]}
      />
      <Products />
      <Maps />
      <Footprint />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    padding-top: 4rem;
  }
  .page-container {
    padding: 0 2rem;
  }
</style>
