<section class="about">
  <div class="about-container">
    <h2>¿Quienes somos?</h2>
    <p>
      Somos tu tienda de confianza para tus fiestas, aquí encontrarás todo lo
      que necesitas para que tu evento sea inolvidable. Te ofrecemos desde la
      botella perfecta con su acompañamiento ideal, hasta desechables, dulces y
      las mejores botanas. ¡Déjanos ayudarte a crear momentos únicos!
    </p>
  </div>
</section>

<style>
  h2,
  p {
    text-align: center;
  }
  h2 {
    padding-bottom: 1rem;
  }
</style>
