<button
  class="hamburger hamburger--collapse"
  type="button"
  aria-label="Toggle Menu"
>
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<script>
  let hamburgers = document.querySelectorAll(".hamburger");
  if (hamburgers.length > 0) {
    hamburgers.forEach(function (hamburger) {
      hamburger.addEventListener("click", function () {
        this.classList.toggle("is-active");
        document.querySelector("nav").classList.toggle("nav-active");
      });
    });
  }
</script>
