<div class="img-container">
  <img
    src="/src/images/Unknown_person.jpg"
    alt="User Avatar"
    aria-hidden="true"
  />
</div>
<div class="legend-container">
  <p>Texto</p>
</div>

<style>
  .img-container img {
    max-width: 4rem;
    height: 100%;
  }
  .legend-container {
    color: white;
    font-size: 1.5rem;
    flex-grow: 2;
    text-align: left;
  }
</style>
