<section class="products">
  <div class="products-container">
    <h2>Conoce nuestros productos</h2>
  </div>
</section>

<style>
  h2,
  p {
    text-align: center;
  }
  h2 {
    padding-bottom: 1rem;
  }
</style>
